@font-face {
   font-family: neoSans;
   src: url(../font/NeoSansStdRegular.otf);
}


body {
	background-image: url(../img/background.png);
	margin: 0;
	padding: 0; 
	width: 100%;
	height: auto;
	background-color: white;
}

.container-body {
	background-color: #f5f5f5;
	min-height: 70em;
	max-width: 64em;
	position: relative;
}

.navbar-login {
	background-color: rgba(249, 249, 249,0.7);
	position: absolute;
	right: 0;
	top: 0;
}

.navbar-login-prop {
	padding-top: 12px;
	color: rgba(1, 1, 1, 1);
	margin: 0 20px 0 20px;
}

.dropdown-login-form { 
	width: 100%;
	background-color: white;
	position: absolute;
	right: 0;
	top: 50px;
}	

.login-elements {
	text-align: center;
}

.lock-img {
	width: 4em;
	float: left;
	margin: 0.8em;
}

.input-login-form {
	float: left;
	padding-top: 1em;
}

.login-form {
	width: 13em;
	background-color: #cccccc;
	color: white;
}

.login-btn-span {
	float: left;
}

.btn-login {
	background-color: #53b8c4;
	width: 5em;
	height: 5em;
	margin: 0.8em;
	color: white;
}

.navbar-small {
	background-color: #53b8c4; 
	width: 100%;
	height: 34px;
}

.navbar-small-inner {
	padding: 5px 0 5px 25px;
}

.carousel-controls-bkgd {
	background-color: #53b8c4; 
	width: 100%;
	height: 34px;
}



.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
	margin: auto;

}

.carousel_banner {
	max-width: 62em !important;
	padding-bottom: 35px;
	margin: auto;
	position: relative;
}

.carousel-controls { 
	position: relative;
	float: right;
	width: 35px;
	margin-right: 2em;
	color: white;
	
}

.logo {
	padding: 0 0 35px 0;
}

.lg-btn-collapse {
	max-width:300px;
	font-family: neoSans;
	padding-left:60px;
	font-size: 12px;
}

.sm-btn-group {
	padding-bottom: 35px;	
}

.sm-btn-1 {
	padding-bottom: 35px;
}

.sm-btn-2 {
	padding-bottom: 35px;
}

.small-button-layout {
	margin: 10px 10px 10px 10px;
	width: 150px;
	height: 38px;
	position: relative;
	color: #666666;
	background-color: white;
	border-top: none;
	border-left: none; 
	border-right: none; 
	border-bottom: 4px solid #53b8c4;
	   -webkit-transition-property: rotateY();
       -moz-transition-property: rotateY();
         -o-transition-property: rotateY();
            transition-property: rotateY();
    -webkit-transition-duration: 3s;
       -moz-transition-duration: 3s;
         -o-transition-duration: 3s;
            transition-duration: 3s;
    -webkit-transition-timing-function: rotateY();
       -moz-transition-timing-function: rotateY();
         -o-transition-timing-function: rotateY();
            transition-timing-function: rotateY();
   
}
.small-button-span-1 {
	left: 2px;
	top: 4px;
	position: absolute;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 109px;
	font-size: 20px;
}

.small-button-span-2 {
	position: absolute;
	right: 0;
	top: 0;
	padding-left: 104px;
	color: white;
	display: inline-block;
	
}

.small-button-layout:hover {
	transform: rotateY(180deg);
}

.collapse-small {
	/* margin-left:10%; */
	background-color: #53b8c4;
	margin-top: -10px;
	color: white;
	width: 150px;
	padding-left: 7px;
	font-family: neoSans;
	font-size: 12px;
	padding-bottom: 25px;
}

.view-more {
	padding-bottom: 35px;
}

.view-more > h4> a{
	color: #53b8c4;
}

.view-more > h4> a:hover{
	color: blue;
}

.slide-bottom {
	padding-bottom: 85px;
}

.modal-login {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10em;
	width: 26em;
}

.modal-body {
	height: 9em;
}

.modal-footer {
	background-color: black;
}

.btn-modal {
	background-color: #53b8c4;
}

.login-form-modal {
	width: 11em;
	background-color: #cccccc;
	color: white;
}

.carousel-bottom{
	max-width: 62em !important;

	margin: auto;
	position: relative;
}

#large-buttons{
	margin: auto;
	padding-bottom: 35px;
	position: relative;
	
}

.btn-large {
	width: 360px;
	height: 100px;
	margin-bottom: 10px;
	background-color: white;
	position: relative;
}

.span-large-btn {
	left: -1px;
	top: -1px;
	bottom: -1px;
	color: white;
	font-size: 65px;
	position: absolute;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	background: #53b8c4;
	-webkit-transition-property: background;
		-moz-transition-property: background;
			-o-transition-property: background;
				transition-property: background;
    -webkit-transition-duration: 2s;
		-moz-transition-duration: 2s;
			-o-transition-duration: 2s;
				transition-duration: 2s;
    -webkit-transition-timing-function: linear;
		-moz-transition-timing-function: linear;
			-o-transition-timing-function: linear;
				transition-timing-function: linear;
}

.span-large-btn-2 {
	left: 95px;
	top: 10px;
	color: black;
	font-family: neoSans;
	font-size: 28px;
	position: absolute;
	padding-left: 10px;
	font-family: arial;
}

.span-large-btn-3 {
	left: 95px;
	top: 55px;
	bottom: -1px;
	color: #b6b6b6;
	font-family: neoSans;
	font-size: 8px;
	position: absolute;
	padding-left: 10px;
	width: 50px;
	font-family: arial;
}

.span-large-btn-4 {
	background-image: url(../img/plus.png);
	background-repeat: no-repeat;
	right: 0;
	top: 33px;
	position: absolute;
	width: 50px;
	height: 50px;
}

.btn-large:hover> .span-large-btn {
	left: -1px;
	top: -1px;
	bottom: -1px;
	color: white;
	background-color: black;
	font-size: 65px;
	position: absolute;
	padding-left: 10px;
	padding-top: 5px;
}

.btn-large:focus > .span-large-btn-4 {
	background-repeat: no-repeat;
	right: 0;
	top: 33px;
	position: absolute;
	width: 50px;
	height: 50px;
	
}


.btn-large:focus  {
	-webkit-filter: drop-shadow(9px 5px 15px  #888888);
	filter: drop-shadow(9px 5px 15px  #888888);
}


.btn-group{

	display: block;
}

a:hover {
	color: blue;
	text-decoration: none;
}

a:focus {
	color: white;
	text-decoration: none;
}

.dropdown-toggle {
	color: white;
}

a {
	color: white;
}

.carousel-controls-bottom {
	position: relative;
	float: left;
	width: 35px;
	margin-right: 2em;
	color: white;
	
}

.bottom-slider-text{
	position: absolute;
	top: 1em;
	left: 3em; 
	font-family: neoSans; 
	font-size:20px;
}

.bottom-slider-link {
	color: black;
	position: absolute;
	right: 4px;
	bottom: 4px; 
	font-family: arial; 
	font-size: 14px;
}

.bottom-slider-controls-background {
	background-color:#53b8c4;
	width:20px;
}

@media (max-width: 768px) {
	.logo {
		position: relative;
		margin-top: 5px 
	}
	.carousel_banner {
		position: absolute;
		margin-top: 80px;
	
		right: 1em;
		left: 1em;
	}
	
	#large-buttons{
		float: none;
		margin-top: 71%;
		
	}
	.btn-large{
		max-width: 90%;
		min-width: 250px;
		height: 90px;
		margin-bottom: 10px;
		margin-left: auto;
		margin-right: auto;
	}
	.span-large-btn-2 {
		left: 95px;
		top: 10px;
		color: black;
		font-size: 24px;
		position: absolute;
		padding-left: 1px;
		font-family: arial;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 2500px;
		min-width: 20px;
	}

	.span-large-btn-3 {
		max-width: 200px;
		min-width: 150px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		
	}
	
	.span-large-btn-4 {
		width: 50px;
		height: 50px;
	}
	
	.lg-btn-collapse {
		max-width: 270px;
		font-family: neoSans;
		padding-left: 50px;
		font-size: 12px;
	}
	
	.carousel-controls { 
		position: relative;
		width: 100%;
		color: white;
		margin: auto;
	}
	
	.carousel-controls-bottom {
		position: absolute;
		width: 35px;
		right: -1em;
		color: white;
		top: -30px;
	}
	
	.bottom-slider-text{
		position: absolute;
		top: -30px;
		left: 1em;
		font-family: neoSans; 
		font-size: 16px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		min-width: 150px;
		max-width: 250px;
	}
	.navbar-small {
		background-color: #53b8c4; 
		height: 34px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 750px;
	}
	
	.navbar-small-inner {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	
	.bottom-slider-link {
		color: #53b8c4;
		position: absolute;
		right: 4px;
		bottom: -20px; 
		font-family: arial; 
		font-size: 14px;
	}	
}


@media (min-width: 769px) and (max-width: 990px) {
	.logo {
		position: relative;
		margin-top: 15px;
		
	}
	.carousel_banner {
		position: absolute;
		margin-top: 90px;
		right: 1em;
		left: 1em;
	}
	#large-buttons{
		float: none;
		margin-top: 52%;
	}
	
	.btn-large{
		width: 80%;
		height: 90px;
		margin-bottom: 10px;
		margin-left: auto;
		margin-right: auto;
	}
	
	.lg-btn-collapse {
		max-width: 500px;
		font-family: neoSans;
		padding-left: 70px;
		font-size: 12px;
	}
	
	.carousel-controls { 
		position: relative;
		width: 100%;
		color: white;
		margin: auto;
	}
	
	.carousel-controls-bottom {
		position: absolute;
		
		width: 35px;
		right: -1em;
		color: white;
		top: -30px;
	}
}