body {
	margin: 0;
	padding: 0; 
	width: 100%;
	height: auto;
    position: relative;
	background: #61636b; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#61636b, #878992); 
    background: -o-linear-gradient(#61636b, #878992); 
    background: -moz-linear-gradient(#61636b, #878992); 
    background: linear-gradient(#61636b, #878992); 
	
  }
ul.nav-pills {
      top: 25px;
      position: fixed;
}
  
.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
	background-color: #53b8c4;
}

.nav > li > a {
	color: #53b8c4;
}	

.dropdown-menu > li > a {
	color: #53b8c4;
}	

.footer-btn{
	width: 300px;
	height: 100px;
	margin-top: 20px;
	background-color: #53b8c4;
	position: relative;
}

.footer-btn-collapse{
	width: 90%;
	color: white;
	margin: auto;
	background-color: #202020;
	padding-top: 10px;
	padding-bottom: 10px;
}

#section1 {
	
	min-height: 500px; 
	color: black; 
	background-color:  #f5f5f5; 
	padding-top: 50px;
	padding-left: 20px;
	padding-right: 20px;
}

#section2 {
	min-height: 700px; 
	color: black; 
	background-color:  #e5e5e5; 
	padding-top: 50px;
	padding-left: 20px;
	padding-right: 20px;
}

#section3 {
	min-height: 500px; 
	color: black; 
	background-color:  #f5f5f5; 
	padding-top: 50px;
	padding-left: 20px;
	padding-right: 20px;
}

#short_description {
	margin-top: 25em;
	position: fixed;
	width: 12em;
	margin-left: -1em;
	height: 200px; 
	display: block; 
	border: 2px solid #53b8c4; 
	color: #53b8c4;
}

@media screen and (max-width: 810px) {
    #section1, #section2, #section3 {
        margin: auto;
    }
	
	.footer-btn{
	width: 200px;
	height: 66px;
	margin-top: 20px;
	background-color: #53b8c4
	}

}
  
 