body {
    position: relative; 
	background-color:#E6E6E6;
	margin: 0;
	padding: 0; 
	width: 100%;
	height: auto;
}


.img_cars {
	max-height:16em !important;
}

.tab_right {
    margin-right:1em !important;
}

.tab_bottom {
    margin-bottom:3em !important;
}

#img_filme {
	/* max-height:25em !important; */
	padding-right:4px;
	max-width:20em !important;
}

.page_footer {
    background-color: #333333;
	color: white;
	padding: 15px;
	opacity: 0.85;
	font-size: 18px;
}

#myModal {
	margin-top: 10em;
}
#myModal2 {
	margin-top: 10em;
	
}
.modal2
{
	background-color: #8a8a8a;
}

   
.movies {
	text-align: left;
	list-style-position:inside;
	display:block;
	position:relative;
	
}

#home {
	padding-top:6em;
	color: #fff; 
	background-color: #000000;
	padding-bottom:4em;
}
#cars {
	padding-top:4em;
	color: #fff; 
	background-color: #666666;
	padding-bottom:4em;
	}
#films {
	padding-top:4em;
	min-height:35em;
	color: #fff;
	background-color: #000000;
	padding-bottom:4em;
}
#review {
	padding-top:4em;
	min-height:55em;
	color: #fff; 
	background-color: #666666;
}

#container1 
{
    overflow:hidden;
	height:40em;
	margin-left: -1em;
}

#text_wrap
{
	/* overflow:hidden; */
	
    display:block;
    width:100%;
    height:40em;
    position:relative;
    top:100%;
	text-align: center;
	list-style-position:inherit;
	color:red;
		
}

#movie_description
{
	text-align: left;
}
/* .carousel_title */
/* { */
	/* margin-top:1px; */
/* } */
#carousel_movie
{
	max-width:60em !important;
	margin: auto;
}

#add_todo
{
	color:black;
}

.navbar-inverse {
	background: linear-gradient(-90deg, #767676, #000000);
    /* background-color: #222; */
    border-color: red;
	opacity: 0.95;
    
}
/*navbar element color selected*/
.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:focus, 
.navbar-inverse .navbar-nav > .active > a:hover {
    color: red;
    background-color: #080808;
	text-decoration: underline;
}
/*navbar element color hover*/
.nav > li > a:focus, 
.nav > li > a:hover {
    text-decoration: underline;
    background-color: #eee;
}

h1 {
	color:red;
}



/*navbar element color inactve and font-size*/
.navbar-inverse .navbar-nav > li > a {
    color: #B8B8B8;
	font-size: 16px;
}

a {
	color: #B8B8B8;
}
a:hover {
	color: white;
}

#img_beer {
	/* max-height:25em !important; */
	padding-right:4px;
	max-height:15em !important;
}

.collapse-footer {
	margin: auto;
	width: 70%;
	font-size: 18px;
}

.collapse-footer > a{
	color: #53b8c4;
}

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 

#beer_section {
	padding-bottom: 5px;
}

